<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      (click)="onReload()"
      appearance="flat"
      class="page-reload"
      tuiButton
    >
      Перезагрузить
    </button>
    <button
      (click)="showCreateDialog()"
      appearance="flat"
      class="page-create"
      tuiButton
    >
      Добавить
    </button>
    <h1 class="page-title">Контракты</h1>
  </div>
  <table
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table contractes"
    size="l"
    tuiTable
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody [data]="items" tuiTbody>
      <tr *ngFor="let item of shownItems" tuiTr>
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Дата выполнения'" tuiTd>
          {{ item.completionDate | date }}
        </td>
        <td *tuiCell="'Дата регистрации'" tuiTd>
          {{ item.registrationDate | date }}
        </td>
        <td *tuiCell="'Действия'" class="actions" tuiTd>
          <button
            (click)="showDetailsDialog(details, item)"
            appearance="details"
            class="actions__details"
            size="s"
            tuiButton
          >
            Подробности
          </button>
          <button
            (click)="showUpdateDialog(item)"
            appearance="update"
            class="actions__update"
            size="s"
            tuiButton
          >
            Изменить
          </button>
          <button
            (click)="showDeleteDialog(item)"
            appearance="delete"
            class="actions__delete"
            size="s"
            tuiButton
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            (paginationChange)="onPaginationChange($event)"
            [total]="items.length"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <form (submit)="onFormSubmit()" [formGroup]="form" class="edit-form">
    <label for=""
      >Дата выполнения
      <input
        [ngModel]="editedItem?.completionDate"
        formControlName="completionDate"
        tuiInput
      />
    </label>
    <label for=""
      >Дата регистрации
      <input
        [ngModel]="editedItem?.registrationDate"
        formControlName="registrationDate"
        tuiInput
      />
    </label>
    <label for=""
      >ID клиента
      <input
        [ngModel]="editedItem?.customerId"
        formControlName="customerId"
        tuiInput
      />
    </label>
    <button (click)="this.form.reset()" type="button">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Дата выполнения</span>
      <span class="entity-field-value">{{
        currentItem?.completionDate | date
      }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Дата регистрации</span>
      <span class="entity-field-value">{{
        currentItem?.registrationDate | date
      }}</span>
    </div>
    <h3 *ngIf="currentItem?.orders?.length" class="entity-list-title">
      Заказы, оформленные по контракту
    </h3>
    <tui-accordion class="container" size="s">
      <tui-accordion-item *ngFor="let order of currentItem?.orders">
        №{{ order.id }}
        <ng-template tuiAccordionItemContent>
          ID: {{ order.id }}<br />
          Количество: {{ order.productQuantity }}
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
