@mixin flex(
  $justify-content: center,
  $align-items: center,
  $direction: row,
  $gap: none
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
  gap: $gap;
}

@mixin shadow() {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@mixin clamp-lines($num) {
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  line-clamp: $num;
  overflow: hidden;
}
