<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="onReload()"
    >
      Перезагрузить
    </button>
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="onReload()"
    >
      Добавить
    </button>
    <h1 class="page-title">Адресы</h1>
  </div>
  <table
    tuiTable
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table addresses"
    size="l"
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="items">
      <tr tuiTr *ngFor="let item of shownItems">
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Страна'" tuiTd>
          {{ item.country }}
        </td>
        <td *tuiCell="'Город'" tuiTd>
          {{ item.city }}
        </td>
        <td *tuiCell="'Улица'" tuiTd>
          {{ item.street }}
        </td>
        <td *tuiCell="'Здание'" tuiTd>
          {{ item.building }}
        </td>
        <td class="actions" tuiTd *tuiCell="'Действия'">
          <button
            class="actions__details"
            appearance="details"
            size="s"
            tuiButton
            (click)="showDetailsDialog(details, item)"
          >
            Подробности
          </button>
          <button
            class="actions__update"
            appearance="update"
            size="s"
            tuiButton
          >
            Изменить
          </button>
          <button
            class="actions__delete"
            appearance="delete"
            size="s"
            tuiButton
            (click)="showDeleteDialog(item)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            [total]="items.length"
            (paginationChange)="onPaginationChange($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Страна</span>
      <span class="entity-field-value">{{ currentItem?.country }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Город</span>
      <span class="entity-field-value">{{ currentItem?.city }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Улица</span>
      <span class="entity-field-value">{{ currentItem?.street }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Здание</span>
      <span class="entity-field-value">{{ currentItem?.building }}</span>
    </div>
    <h3 class="entity-list-title">Клиенты, живущие по адресу</h3>
    <tui-accordion class="container" size="s">
      <tui-accordion-item *ngFor="let customer of currentItem?.customers">
        {{ customer.name }}
        <ng-template tuiAccordionItemContent>
          ID: {{ customer.id }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
