<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="onReload()"
    >
      Перезагрузить
    </button>
    <button
      class="page-create"
      appearance="flat"
      tuiButton
      (click)="showCreateDialog()"
    >
      Добавить
    </button>
    <h1 class="page-title">Начальники цехов</h1>
  </div>
  <table
    tuiTable
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table chiefes"
    size="l"
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="items">
      <tr tuiTr *ngFor="let item of shownItems">
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Фамилия'" tuiTd>
          {{ item.firstName }}
        </td>
        <td *tuiCell="'Имя'" tuiTd>
          {{ item.lastName }}
        </td>
        <td *tuiCell="'Отчество'" tuiTd>
          {{ item.patronymic || '-' }}
        </td>
        <td class="actions" tuiTd *tuiCell="'Действия'">
          <button
            class="actions__details"
            appearance="details"
            size="s"
            tuiButton
            (click)="showDetailsDialog(details, item)"
          >
            Подробности
          </button>
          <button
            class="actions__update"
            appearance="update"
            size="s"
            tuiButton
            (click)="showUpdateDialog(item)"
          >
            Изменить
          </button>
          <button
            class="actions__delete"
            appearance="delete"
            size="s"
            tuiButton
            (click)="showDeleteDialog(item)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            [total]="items.length"
            (paginationChange)="onPaginationChange($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <form class="edit-form" [formGroup]="form" (submit)="onFormSubmit()">
    <label for=""
      >Фамилия
      <input
        tuiInput
        formControlName="firstName"
        [ngModel]="editedItem?.firstName"
      />
    </label>
    <label for=""
      >Имя
      <input
        tuiInput
        formControlName="lastName"
        [ngModel]="editedItem?.lastName"
      />
    </label>
    <label for=""
      >Отчество
      <input
        tuiInput
        formControlName="patronymic"
        [ngModel]="editedItem?.patronymic"
      />
    </label>
    <button type="button" (click)="this.form.reset()">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Имя</span>
      <span class="entity-field-value">{{ currentItem?.lastName }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Фамилия</span>
      <span class="entity-field-value">{{ currentItem?.firstName }}</span>
    </div>
    <div class="entity-value" *ngIf="currentItem?.patronymic">
      <span class="entity-field-name">Отчество</span>
      <span class="entity-field-value">{{ currentItem?.patronymic }}</span>
    </div>
    <h3 class="entity-list-title" *ngIf="currentItem?.workshops?.length">
      Цехи, которыми управляет
    </h3>
    <tui-accordion class="container" size="s">
      <tui-accordion-item *ngFor="let workshop of currentItem?.workshops">
        {{ workshop.name }}
        <ng-template tuiAccordionItemContent>
          ID: {{ workshop.number }}<br />
          Номер телефона: {{ workshop.phoneNumber }}
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
