<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="onReload()"
    >
      Перезагрузить
    </button>
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="showCreateDialog()"
    >
      Добавить
    </button>
    <h1 class="page-title">Заказы</h1>
  </div>
  <table
    tuiTable
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table customeres"
    size="l"
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="items">
      <tr tuiTr *ngFor="let item of shownItems">
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Номер контракта'" tuiTd>
          {{ item.contractNumber }}
        </td>
        <td *tuiCell="'Код продукта'" tuiTd>
          {{ item.productCode }}
        </td>
        <td *tuiCell="'Количество продукта'" tuiTd>
          {{ item.productQuantity }}
        </td>
        <td class="actions" tuiTd *tuiCell="'Действия'">
          <button
            class="actions__details"
            appearance="details"
            size="s"
            tuiButton
            (click)="showDetailsDialog(details, item)"
          >
            Подробности
          </button>
          <button
            class="actions__update"
            appearance="update"
            size="s"
            tuiButton
            (click)="showUpdateDialog(item)"
          >
            Изменить
          </button>
          <button
            class="actions__delete"
            appearance="delete"
            size="s"
            tuiButton
            (click)="showDeleteDialog(item)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            [total]="items.length"
            (paginationChange)="onPaginationChange($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

  <form class="edit-form" [formGroup]="form" (submit)="onFormSubmit()">
    <label for=""
      >ID продукта
      <input
        tuiInput
        formControlName="productCode"
        [ngModel]="editedItem?.productCode"
      />
    </label>
    <label for=""
      >Количество продукта
      <input
        tuiInput
        formControlName="productQuantity"
        [ngModel]="editedItem?.productQuantity"
      />
    </label>
    <label for=""
      >ID контракта
      <input
        tuiInput
        formControlName="contractNumber"
        [ngModel]="editedItem?.contractNumber"
      />
    </label>
    <button type="button" (click)="this.form.reset()">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Количество продукта</span>
      <span class="entity-field-value">{{ currentItem?.productQuantity }}</span>
    </div>
    <tui-accordion size="s">
      <tui-accordion-item>
        Контракт
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.contract?.number }}<br />
          Дата выполнения: {{ currentItem?.contract?.completionDate | date
          }}<br />
          Дата регистрации: {{ currentItem?.contract?.registrationDate | date
          }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
    <tui-accordion size="s">
      <tui-accordion-item>
        Продукт
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.product?.code }}<br />
          Название: {{ currentItem?.product?.name }}<br />
          Цена: {{ currentItem?.product?.price }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
