<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      (click)="onReload()"
      appearance="flat"
      class="page-reload"
      tuiButton
    >
      Перезагрузить
    </button>
    <button
      (click)="showCreateDialog()"
      appearance="flat"
      class="page-create"
      tuiButton
    >
      Добавить
    </button>
    <h1 class="page-title">Заказы</h1>
  </div>
  <table
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table customeres"
    size="l"
    tuiTable
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody [data]="items" tuiTbody>
      <tr *ngFor="let item of shownItems" tuiTr>
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Номер контракта'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Код продукта'" tuiTd>
          {{ item.productId }}
        </td>
        <td *tuiCell="'Количество продукта'" tuiTd>
          {{ item.productQuantity }}
        </td>
        <td *tuiCell="'Действия'" class="actions" tuiTd>
          <button
            (click)="showDetailsDialog(details, item)"
            appearance="details"
            class="actions__details"
            size="s"
            tuiButton
          >
            Подробности
          </button>
          <button
            (click)="showUpdateDialog(item)"
            appearance="update"
            class="actions__update"
            size="s"
            tuiButton
          >
            Изменить
          </button>
          <button
            (click)="showDeleteDialog(item)"
            appearance="delete"
            class="actions__delete"
            size="s"
            tuiButton
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            (paginationChange)="onPaginationChange($event)"
            [total]="items.length"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

  <form (submit)="onFormSubmit()" [formGroup]="form" class="edit-form">
    <label for=""
      >ID продукта
      <input
        [ngModel]="editedItem?.productId"
        formControlName="productId"
        tuiInput
      />
    </label>
    <label for=""
      >Количество продукта
      <input
        [ngModel]="editedItem?.productQuantity"
        formControlName="productQuantity"
        tuiInput
      />
    </label>
    <label for=""
      >ID контракта
      <input
        [ngModel]="editedItem?.contractId"
        formControlName="contractId"
        tuiInput
      />
    </label>
    <button (click)="this.form.reset()" type="button">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Количество продукта</span>
      <span class="entity-field-value">{{ currentItem?.productQuantity }}</span>
    </div>
    <tui-accordion size="s">
      <tui-accordion-item>
        Контракт
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.contract?.id }}<br />
          Дата выполнения: {{ currentItem?.contract?.completionDate | date
          }}<br />
          Дата регистрации: {{ currentItem?.contract?.registrationDate | date
          }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
    <tui-accordion size="s">
      <tui-accordion-item>
        Продукт
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.product?.id }}<br />
          Название: {{ currentItem?.product?.name }}<br />
          Цена: {{ currentItem?.product?.price }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
