<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      (click)="onReload()"
      appearance="flat"
      class="page-reload"
      tuiButton
    >
      Перезагрузить
    </button>
    <button
      (click)="showCreateDialog()"
      appearance="flat"
      class="page-create"
      tuiButton
    >
      Добавить
    </button>
    <h1 class="page-title">Цехи</h1>
  </div>
  <table
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table contractes"
    size="l"
    tuiTable
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody [data]="items" tuiTbody>
      <tr *ngFor="let item of shownItems" tuiTr>
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Название'" tuiTd>
          {{ item.name }}
        </td>
        <td *tuiCell="'Номер телефона'" tuiTd>
          {{ item.phoneNumber }}
        </td>
        <td *tuiCell="'Действия'" class="actions" tuiTd>
          <button
            (click)="showDetailsDialog(details, item)"
            appearance="details"
            class="actions__details"
            size="s"
            tuiButton
          >
            Подробности
          </button>
          <button
            (click)="showUpdateDialog(item)"
            appearance="update"
            class="actions__update"
            size="s"
            tuiButton
          >
            Изменить
          </button>
          <button
            (click)="showDeleteDialog(item)"
            appearance="delete"
            class="actions__delete"
            size="s"
            tuiButton
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            (paginationChange)="onPaginationChange($event)"
            [total]="items.length"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <form (submit)="onFormSubmit()" [formGroup]="form" class="edit-form">
    <label for=""
      >Название
      <input [ngModel]="editedItem?.name" formControlName="name" tuiInput />
    </label>
    <label for=""
      >Номер телефона
      <input
        [ngModel]="editedItem?.phoneNumber"
        formControlName="phoneNumber"
        tuiInput
      />
    </label>
    <label for=""
      >ID начальника
      <input
        [ngModel]="editedItem?.chiefId"
        formControlName="chiefId"
        tuiInput
      />
    </label>
    <button (click)="this.form.reset()" type="button">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Название</span>
      <span class="entity-field-value">{{ currentItem?.name }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Номер телефона</span>
      <span class="entity-field-value">{{ currentItem?.phoneNumber }}</span>
    </div>
    <tui-accordion class="container" size="s">
      <tui-accordion-item>
        Начальник
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.chief?.id }}<br />
          ФИО:
          {{ currentItem!.chief!.firstName }} &nbsp;
          {{ currentItem!.chief!.lastName }} &nbsp;
          {{ currentItem!.chief!.patronymic }}
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <h3 *ngIf="currentItem?.products?.length" class="entity-list-title">
      Производимые продукты
    </h3>
    <tui-accordion size="s">
      <tui-accordion-item *ngFor="let product of currentItem?.products">
        {{ product?.name }}
        <ng-template tuiAccordionItemContent>
          ID: {{ product?.id }}<br />
          Цена: {{ product?.price }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
