<div class="data-table-wrapper">
  <div class="data-table__title-wrapper">
    <button
      class="page-reload"
      appearance="flat"
      tuiButton
      (click)="onReload()"
    >
      Перезагрузить
    </button>
    <button
      class="page-create"
      appearance="flat"
      tuiButton
      (click)="showCreateDialog()"
    >
      Добавить
    </button>
    <h1 class="page-title">Цехи</h1>
  </div>
  <table
    tuiTable
    [columns]="itemFieldNames.concat('Действия')"
    class="data-table contractes"
    size="l"
  >
    <thead>
      <tr tuiThGroup>
        <th *ngFor="let header of itemFieldNames" tuiTh>{{ header }}</th>
        <th [rowSpan]="3" tuiTh>Действия</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="items">
      <tr tuiTr *ngFor="let item of shownItems">
        <td *tuiCell="'ID'" tuiTd>
          {{ item.id }}
        </td>
        <td *tuiCell="'Название'" tuiTd>
          {{ item.name }}
        </td>
        <td *tuiCell="'Номер телефона'" tuiTd>
          {{ item.phoneNumber }}
        </td>
        <td class="actions" tuiTd *tuiCell="'Действия'">
          <button
            class="actions__details"
            appearance="details"
            size="s"
            tuiButton
            (click)="showDetailsDialog(details, item)"
          >
            Подробности
          </button>
          <button
            class="actions__update"
            appearance="update"
            size="s"
            tuiButton
            (click)="showUpdateDialog(item)"
          >
            Изменить
          </button>
          <button
            class="actions__delete"
            appearance="delete"
            size="s"
            tuiButton
            (click)="showDeleteDialog(item)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="itemFieldNames.length + 1">
          <tui-table-pagination
            [total]="items.length"
            (paginationChange)="onPaginationChange($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <form class="edit-form" [formGroup]="form" (submit)="onFormSubmit()">
    <label for=""
      >Название
      <input tuiInput formControlName="name" [ngModel]="editedItem?.name" />
    </label>
    <label for=""
      >Номер телефона
      <input
        tuiInput
        formControlName="phoneNumber"
        [ngModel]="editedItem?.phoneNumber"
      />
    </label>
    <label for=""
      >ID начальника
      <input
        tuiInput
        formControlName="chiefId"
        [ngModel]="editedItem?.chiefId"
      />
    </label>
    <button type="button" (click)="this.form.reset()">Очистить</button>
    <input type="submit" />
  </form>
</div>

<ng-template #details>
  <div class="entity-details">
    <h2 class="entity-details__title">Подробности</h2>
    <div class="entity-value">
      <span class="entity-field-name">ID</span>
      <span class="entity-field-value">{{ currentItem?.id }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Название</span>
      <span class="entity-field-value">{{ currentItem?.name }}</span>
    </div>
    <div class="entity-value">
      <span class="entity-field-name">Номер телефона</span>
      <span class="entity-field-value">{{ currentItem?.phoneNumber }}</span>
    </div>
    <tui-accordion class="container" size="s">
      <tui-accordion-item>
        Начальник
        <ng-template tuiAccordionItemContent>
          ID: {{ currentItem?.chief?.id }}<br />
          ФИО:
          {{ currentItem!.chief!.firstName }} &nbsp;
          {{ currentItem!.chief!.lastName }} &nbsp;
          {{ currentItem!.chief!.patronymic }}
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <h3 class="entity-list-title" *ngIf="currentItem?.products?.length">
      Производимые продукты
    </h3>
    <tui-accordion size="s">
      <tui-accordion-item *ngFor="let product of currentItem?.products">
        {{ product?.name }}
        <ng-template tuiAccordionItemContent>
          ID: {{ product?.id }}<br />
          Цена: {{ product?.price }}<br />
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</ng-template>
